{% extends 'pharmacy_home.html' %}

{% block content %}
<style>
    .container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 80px;
        margin-top: 40px;
        margin-left: 400px;

    }
    .footer{
        margin-top: 400px;
    }

    @media (max-width: 768px) {

        .container {
            margin-top: -0.5rem !important;
            width: 312px;
            margin-left: 44px;
        }

        .h5 ,h5{
            width: 129%;
        }
    }
</style>
<div class="container mt-4">
    {% for message in messages %}
    <div class="alert alert-success mt-3" style="width: 100%;">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">Old Password:</label>
            <input type="password" class="form-control" name="old_password" required>
        </div>

        <div class="form-group">
            <label for="new_password">New Password:</label>
            <input type="password" class="form-control" name="new_password" required>
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" class="form-control" name="confirm_password" required>
        </div>

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}